# folders
.cache
.config
.docker
.ipython
.jupyter
.local
.profile

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Files:
*.log
*.ini
*.gsheet
*.xl*
*.DS_Store
tags
